/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Light Orange: F2961B
        Dark Orange: FC6129
        Light Pink: BB607F
        Dark Pink: 9A171D
        Light Blue: 3ED9A0
        Dark Blue: 3EB7A6
============================================ */
/******************************************************************
                    GENERAL SECTION
*******************************************************************/
html,
body {
    height: 100%;
    font-size: 16px;
    margin: 0 !important;
    padding: 0;
}

body {
    background-color: #FFF !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

p a {
    font-family: 'Poppins', sans-serif;
}

section {
    background: #FFF;
}

.font-theme {
    color: linear-gradient(#F2961B, #FC6129);
}

.pull-right {
    float: right!important;
}

.pull-left {
    float: left!important;
}

/**********************************************************
                    LINE ICONS UPDATION
***********************************************************/

[class^="lni-"] {
    display: inline-block;
}

/*********************************************************
                BUTTON SECTION
*********************************************************/
.btn-general {
    color: #333;
    border-radius: 1.2rem;
    font-size: .8rem;
    padding: .6rem 1rem;
    border-style: none
}

.btn-general.btn-theme {
    color: #fff;
    background-size: 200%;
    background-image: linear-gradient(to right, #F2961B 0%, #FC6129 51%, #F2961B 100%);
}

.btn-general.btn-theme:hover {
    color: #fff;
    background-position: right center;
}


/*********************************************************
                TOP_HEADER SECTION
*********************************************************/
#home{
}
.home-main{
    background: url(../img/volunteer/volunteers.jpg) no-repeat center center/cover;
    height: 400px;
    position: relative;
}
.home-image-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.top-header {
    min-height: 2.2rem;
    line-height: 50%;
    margin: 0 auto;
    color: #FFF;
    opacity: 1;
    background-image: linear-gradient(to right, #F2961B 0%, #FC6129 100%);
    box-sizing: border-box;
}
.header{
    z-index: 9999;
}
.top-header:after {
    margin: 0;
}

.top-header ul li {
    font-size: .8rem;
    padding: .5rem;
}

.contact-us {
    margin-right: .8rem;
}


.home-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    z-index: 999;
}

.home-content span{
    color: #F2961B;
}
/*********************************************************
                NAVBAR SECTION
*********************************************************/
.header{
    position: sticky;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
    min-width: 100%;
    top: -1rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;
}

a.nav-link {
    color: #FFF !important;
}

.navbar h1 {
    display: inline;
    font-size: 1.5rem;
}

.collapse {
    display: float;
}

.nav-item.active {
    color: #F2961B;
}

.home-heading {
    color: #FFF;
    text-transform: uppercase;
}

.home-content-inner .btn {
    margin-right: 1rem;
}


.card-gradient-pink{
    
}

.card-gradient-pink img{
    position: relative;
}

.overlay-pink{
    background-image: linear-gradient(to right, #BB607F, #9A171D);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/******************************************************************
                            FOOTER SECTION
******************************************************************/
#footer{
    height: 100%;
/*    background: #333 url('../img/volunteers/volunteers.jpg') no-repeat center center/cover;*/
    background: #333;    
    height: 350px;
    position: relative;
    color: white;
}
#footer h2{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer p{
    font-size: 14px;
    margin-bottom: 10px;
}

.post{
    border-bottom: solid 1px #FFF;
    display: flex;
}

.no-border{
    border-bottom: none;
}

.post img{
    margin-top: 15px;
    margin-right: 15px;
}

.animate-right:hover{
    color: #F2961B;
    position: absolute;
    left: 50%;
}

#footer{
    background: url("../img/home/gallery4.jpg") no-repeat center center/cover;
    opacity: .8;
}

.footer-gradient{
    height: 38px;
    line-height: 38px;
    background-image: linear-gradient(to right, #F2961B 0%, #FC6129 100%);
}
.footer-gradient p{
    display: inline-block;
}
.c-animate-right{
    transition: all .3s;
}

.c-animate-right:hover{
    color: #F2961B;
    transform: translateX(20px);
}
.footer-overlay{
    min-width: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.footer-gradient a{
    margin-right: 12px;
    background: #000;
    padding-right: 8px;
    padding-left: 8px;
    color: white;
    float: right;
    position: sticky;
}

/********************************************
            CHARITY
*********************************************/

.yellow{
    color: #FEC753;
}
#charity{
    padding: 70px;
}
#charity .font-bold{
    font-weight: bolder;
}

/*********************************************
                VIDEO
**********************************************/

#video{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #F3F4F8;
}
#container {
/*    box-sizing: border-box;*/
    width:100%;
}
#container .item{
/*    margin: 10px;*/
}

#container .item h6{
    font-weight: bolder;
}

#container .item p{
    text-align: justify;
}

#container .item img{
    margin-top: 25px;
    margin-right: 15px;
}

.user{
    margin: 0;
    font-weight: bolder;
}


/*******************TRUST**************/

.trust-item{
    width: 100%;
    margin: 10px;
    height: 160px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.trust-item img{
    margin-bottom: 20px;
    margin-top: 30px;
}

#our-volunteers{
    margin-top: 20px;
    text-align: center;
}
#trust{
    text-align: center;
    margin-bottom: 3rem;
}

.container h2{
    transform: translateY(-25px)
}

