/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Light Orange: F2961B
        Dark Orange: FC6129
        Light Pink: BB607F
        Dark Pink: 9A171D
        Light Blue: 3ED9A0
        Dark Blue: 3EB7A6
============================================ */
/******************************************************************
                    GENERAL SECTION
*******************************************************************/
html,
body {
    height: 100%;
    font-size: 16px;
    margin: 0 !important;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #FFF !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

p a {
    font-family: 'Poppins', sans-serif;
}

section {
    background: #FFF;
}

.font-theme {
    color: linear-gradient(#F2961B, #FC6129);
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/**********************************************************
                    LINE ICONS UPDATION
***********************************************************/

[class^="lni-"] {
    display: inline-block;
}

/*********************************************************
                BUTTON SECTION
*********************************************************/
.btn-general {
    color: #333;
    border-radius: 1.2rem;
    font-size: .8rem;
    padding: .5rem;
    border-style: none
}

.btn-general.btn-theme {
    color: #fff;
    background-size: 200%;
    background-image: linear-gradient(to right, #F2961B 0%, #FC6129 51%, #F2961B 100%);
}

.btn-general.btn-theme:hover {
    color: #fff;
    background-position: right center;
}


/*********************************************************
                TOP_HEADER SECTION
*********************************************************/
#home {
    background-image: url(../img/home/gallery2.jpg);
    height: 100%;
    margin-bottom: 12rem;
}

.home-overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    top: 0;
    left: 0;
}

.top-header {
    min-height: 2.2rem;
    line-height: 50%;
    margin: 0 auto;
    color: #FFF;
    opacity: 1;
    background-image: linear-gradient(to right, #F2961B 0%, #FC6129 100%);
    box-sizing: border-box;
}

.top-header:after {
    margin: 0;
}

.top-header ul li {
    font-size: .8rem;
    padding: .5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.contact-us {
    margin-right: .8rem;
}

#home {
    min-height: 100%;
    margin-bottom: 8rem;
}

.header {
    position: sticky;
    width: 100%;
}

/*********************************************************
                NAVBAR SECTION
*********************************************************/
.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
    min-width: 100%;
    top: -1rem;
    margin-bottom: 8rem;
}

a.nav-link {
    color: #FFF !important;
    text-transform: capitalize;
}

.navbar h1 {
    display: inline;
    font-size: 1.5rem;
}

.collapse {
    display: float;
}

.nav-item.active {
    color: #F2961B;
}

.home-heading {
    color: #FFF;
    text-transform: uppercase;
}

.home-content-inner .btn {
    margin-right: 1rem;
}

.image-container {
    position: relative;
    bottom: -15rem;
    margin: auto;
    left: 24%;
}

.image-container h4 {
    text-transform: uppercase;
    color: #FFF;
}

.card-gradient-pink {
    position: relative;
    height: 100%;
    width: 250px;
    margin-top: 10px;
    margin-right: 0;
    display: inline-block;
}

.card-gradient-primary {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 280px;
}

.card-gradient-green {
    width: 250px;
    position: relative;
    margin-top: 10px;
    display: inline-block;
}

.card-gradient-primary p {
    position: absolute;
    top: 6rem;
    left: 1rem;
    color: #FFF;
}

.card-gradient-primary button {
    position: absolute;
    top: 11rem;
    left: 1rem;
    color: black;
}

.green-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3ED9A0;
    opacity: .6;
}

.pink-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #BB607F;
    opacity: .6;
}

.primary-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F2961B;
    opacity: .6;
}

.card-gradient-primary h4 {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.card-gradient-green h4 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.card-gradient-pink h4 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

/**************************************************
                    OUR CAUSES
**************************************************/

#our-causes {
    margin-top: 100px;
    text-align: center;
}

.our-causes-heading {
    transform: translateY(-25px)
}

.column {
    width: 25%;
}

#our-causes .container {
    margin-left: 300px !important;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
    border-radius: 20px;
    background-color: #f1f1f1;
}

.column {
    background-color: #f1f1f1;
    margin: 16px;
    padding: 0;
    border-radius: 12px;
    transition: all .3s;
}

.column:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transform: scale(1.1);
}

.card-description {
    padding: 12px;
}

.card-description h6 {
    text-align: left;
    margin-top: 12px;
    font-weight: 500;
}

.card-description p {
    text-align: left;
}

.card-description span {
    color: #F2961B;
}

.progress-bar {
    background-image: linear-gradient(to right, #F2961B 0%, #FC6129 100%);
}

/***********************************************************************
                                FOOTER
***********************************************************************/
#footer {
    height: 100%;
    /*    background: #333 url('../img/volunteers/volunteers.jpg') no-repeat center center/cover;*/
    background: #333;
    height: 350px;
    position: relative;
    color: white;
}

#footer h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

.post {
    border-bottom: solid 1px #FFF;
    display: flex;
}

.no-border {
    border-bottom: none;
}

.post img {
    margin-top: 15px;
    margin-right: 15px;
}

.animate-right:hover {
    color: #F2961B;
    position: absolute;
    left: 50%;
}

#footer {
    background: url("../img/home/gallery4.jpg") no-repeat center center/cover;
    opacity: .8;
}

.footer-gradient {
    height: 38px;
    line-height: 38px;
    background-image: linear-gradient(to right, #F2961B 0%, #FC6129 100%);
}

.footer-gradient p {
    display: inline-block;
}

.footer-overlay {
    background-color: rgba(0, 0, 0, .8);
}

.c-animate-right {
    color: #FFF;
    transition: all .3s;
}

.c-animate-right:hover {
    color: #F2961B;
    transform: translateX(20px);
}

.footer-gradient a {
    margin-right: 12px;
    background: #000;
    padding-right: 8px;
    padding-left: 8px;
    color: white;
    float: right;
}

/****************************************************************
                        DONATION
****************************************************************/

#donation {
    width: 100%;
}

#donation .row .col-md-3 {
    height: 50px;
    background-color: aqua;
    /*    margin-right: 5px;*/
}

.c-column {
    background-color: aqua;
    float: left;
    width: 24%;
    height: 7rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.c-column span {
    font-size: 1.5rem;
    text-align: center;
    color: #F4f4f4;
    
}

.container{
    margin: 0 auto;
}


/**********************************************
gallery
********************************************/
#photo-gallery{
    margin-top: 5rem;
    width: 100%;
    text-align: center;
}


#photo-gallery h2{
    text-transform: capitalize;
    text-align: center;
    transform: translateY(-25px);
}

.pictures{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
.large-pic{
    grid-column: 2;
}
.grid-col{
display: grid;
grid-gap: 12px;
}

.gallery-pic{
    overflow: hidden;
    position: relative;
}
.gallery-pic img{
    transition: all .4s ease;
}
.gallery-item-overlay{
    position: absolute;
    background-color: rgba(240,140,27,0.8);
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease;
/*
    width: 10%;
    height: 10%;
*/
    margin: 15px;
}
.gallery-overlay-details{
   position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.gallery-overlay-details h3{
    margin: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-20%);
    transition: all .4s ease;
}

/*
.gallery-overlay-details span{
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 10px auto;
}
*/
.gallery-overlay-details p{
    font-size: 17px;
    color: #fff;
    text-transform: capitalize;
    line-height: 0.5rem;
    margin: 0;
    padding: 0;
    transform: translateY(100%);
    transition: all .4s ease;
}

/*portfolio hover*/
.gallery-pic:hover img{
    transform: scale(1.2);
}
.gallery-pic:hover .gallery-item-overlay{
    opacity: 1;
}
.gallery-pic:hover .gallery-overlay-details p,
.gallery-pic:hover .gallery-overlay-details h3{
    transform: translateY(0);
}



